@charset "utf-8";

*{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: linear-gradient(to top, #000000,#494949);
    background-attachment: fixed;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;  /*Safe combination CSS safe web font*/ 
}
main{
    background-color: rgb(255, 242, 208);
    width: 600px;
    padding: 10px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 12px #000000;
}

h1, h2{
    font-family: 'Times New Roman', Times, serif;    text-align :justify;
    color: #AD0258;
    text-align: center;
}

p{
    color: #333333;
    text-align: center;
}
div{
    text-align: center;
    background-color: darkgreen;
    height: 100px;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}